---
---

@import '../_sass/_hamwater-variables';
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


%cardo { font-family: 'Cardo', serif; }
%news { font-family: 'News Cycle', sans-serif;}
%quattro { font-family: 'Quattrocento', serif;}
%roboto { font-family: 'Roboto Condensed', sans-serif; }

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin title {
    @extend %quattro;
    color: $hamwater-title;
    font-size: 36px;

    &:hover {
        @extend %cardo;
        transform: scale(1.75);
        color: $hamwater-default-hover;
    }
}

html, body {
    height: 100%;
    background: #000000;
}

.title-group + main {
    background-color: $hamwater-page-background;
}

.alert {

    @include center;
    @extend %cardo;
    color: $hamwater-title;
    font-size: 60px;
    line-height: auto;
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;

}

main {
    .margin-top: 50px;
    .container {
        min-height: 640px; 
    }
}

.category-blog {
    .title-group {
    background: $hamwater-navtext;
    text-align: center;
    }

    .post-title {
        width: 100%;
        position: relative;
        margin-top: -2px;

        .img {
            width: 100%;
            opacity: .2;
        }

        .topper h1.special {
            font-size: 60px;
            color: $hamwater-title;
        }

        span {
                background-color: black;
            }

        .title {
            width: 100%;
        }

        aside {
            margin-top: 0;
            position: relative;
            bottom: 0;
            color: $hamwater-title;
            font-size: 18px;
        }

        .date {
            display: inline;
            left: 0;
        }

        .source {

            margin-top: 10px;
            font-size: 18px;
        }

        row {
            margin-top: 10px;
        }

    }
}

.container.post {

    img {
        width: 100%;
    }
}

.post {
    @include center;
    position: relative;
    max-width: 900px;
    @extend %news;
    font-size: 18px;
    background-color: white;

    div:first-child:first-letter {
        @extend %cardo;
        font-size: 36px;
        color: $hamwater-title;
    }
}

.featured-image {

        position: fixed;
        top: 22px;
        left: 0;
        width: 100%;
        height: 650px;
        display: block;
        transform: scale(1.25);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: .75;
        
}

.landing {


    .landing-nav {

        @include center;
        width: 100%;
        display: inline-block;

        div.landing {
            padding-left: 10px;
            padding-right: 10px;
            width: auto;
        }
        
        
        a {
            @include title;
        }
    }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease-in-out;
    color: $hamwater-title;

    &:hover { color: $hamwater-default-hover; }
}


.btn-group.hamwater {

    button {
        background-color: black;
        border-color: $hamwater-title;
        color: $hamwater-title;

        &:hover {
            color: black;
            background-color: $hamwater-button-hover;
        }

        .dropdown-menu a {
            color: inherit
        }
    }


}

.btn {

    transition: none;
    /*text-transform: uppercase;
    font-weight: 400;*/
    @extend %news;

}

h1, h2, h3, h4, h5, h6 { @extend %quattro; }
::selection {
    background: white;
    color: $hamwater-title;

}

nav.hamwater {
    border-bottom-color: $hamwater-title;
    background-color: #191818
}

nav.navbar.hamwater {
    margin: 0;

    a {
        text-transform: uppercase;
        font-size: 16px;
        color: $hamwater-navtext;
    }

    .navbar-brand {
        text-transform: none;

        i {
            transition: inherit;
            color: $hamwater-title;
            transform: scale(1);
        }

        &:hover i {
            color: rgb(255, 111, 111);
            transform: scale(1.35);
        }
    }
}
.title-group {
    width: 100%;
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 2px;
    background-color: $hamwater-page-background;
    z-index: 2;

    p {
        @extend %news;
        max-width: 800px;
        margin: 10px auto 0;
        color: white;
    }
}
h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %news;
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
    color: $hamwater-title;
    word-wrap: break-word;

    span {
        display: inline-block;
        position: relative;
        /*padding: 0 15px;*/
        max-width: 1000px;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #e8e8e8;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
    }
}

.tile {
    @extend %news;
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 125px;
    background-color: white;
    .inner-guts { 
        margin: auto; 
        height: auto;
    }

    &.row {
        margin-bottom: 25px;
    }

    h2 {
        @extend %cardo;
        margin: 0;
        font-size: 65px;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 85px;
        word-wrap: break-word;
    }

    .featurette {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 10px 0;
        padding: 0;
        width: 100%;
        height: 550px;
        background-color: #e8e8e8;

        .img {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 225ms ease;
            transform: scale(1);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background: #000;
                opacity: 0.4;
                transition: all 225ms ease;
            }
        }

        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .img {
                transform: scale(1.2);

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    .excerpt {
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        color: #484848;

        p {
            margin: 0 0 50px 0;
            padding-bottom: 30px;
        }
    }

    .tags {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 15px;

        span {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5;
            text-transform: uppercase;
            @extend %news;
        }
    }

    .read-more {
        margin: 15px 15px 5px 0px;
        width: 100%;
        max-width: 175px;
        position: absolute;
        padding-right: 75px;
        background-color: $hamwater-navtext;
        border-color: $hamwater-button-hover;
        bottom: 0;
        right: 0;

        &:hover {
            background-color: $hamwater-title;
        }

        i {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-54%);
            font-size: 31px;
            line-height: 100%;
        }
    }
}

aside {
    font-size: 12px;
    color: #525252;
    margin: 10px 0 0 0;
    @extend %quattro;

    span {
        text-transform: uppercase;
    }
}

footer.hamwater {
        position: relative;
    
}

.site-footer {
    @include clearfix;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: -webkit-center;

    background: black;

    div.row {
        text-align: -webkit-center;
    }
}


.pagination-wrap {
    text-align: center;
}

.topper {
    /*height: 550px;*/
    position: relative;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 15px -100px;
}



.sidenav.hamwater {
    @extend %news;
    color: $hamwater-title;
    padding-top: 15px;
    position: fixed;
    padding: 0px 0px 5px 10px;

    h4 {
        text-transform: uppercase;
        font-family: inherit;
    }

    p {
        margin: 0;
    }
}

figcaption {
    font-size: 5px;
    text-align: right;
    margin-left: 10px;
    margin-top: -10px;
}

.category-blog {
    nav {
        position: absolute;
    }

    .title-group {
        margin-top: 37px;
        h1, span, p {
            transform: scale(.75);
        }

        p.lead {
            margin-top: -20px;
        }
    }
}

.highlight {
    margin: auto;
    background: $hamwater-highlight-background;
}

@import '../_sass/_code';
@import '../_sass/_hamwater_media';
@import '../_sass/_linkedin';
@import '../_sass/_resume'
