
<div class="container-fluid code-portfolio">
   {% for item in site.data.code_portfolio.projects %}
    <div class="{{item.name}} wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-4 column project-nav">
                <img class="img-responsive" src='
                    {% if item.details.featured_image %}
                        /assets/{{ item.details.featured_image}}
                    {% else %}
                        /assets/default.jpg
                    {% endif %}'>
                <div class='btn-group-sm'>
                    {% for v in item.details.versions %}
                        <div class="btn"><a href='{{v.source | prepend: site.data.global.source_base }}'> {{v.name | capitalize }} Version Source </a></div>
                        {% if v.demo %}
                             <span class='btn'><a href='{{v.demo}}'>Demo This Project</a></span>
                        {% endif %} 
                    {% endfor %}                   
                </div>
            </div><!--project nav-->

            <div class="col-xs-12 col-sm-6 column project-details">
                <h2 class="project-description">{{item.name}}</h2>
                <h4>{{item.details.description}}</h4>
                <div class="version-details">
                    <h3>Tech:</h3>
                    {% if item.details.versions.size > 1 %}
                        {% for v in item.details.versions%}
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 {{v.name}} stack-title">
                                <h4>{{v.name | capitalize}} <i class="fa fa-plus-square-o" aria-hidden='true'></i></h4>

                                <div class="tech-list {{v.name}}">
                                    {% assign tech=v.tech | split: ', ' %}
                                    {% for t in tech %}
                                        <p>{{t}}</p>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor%}
                    {% else %}
                            {% for v in item.details.versions %}
                                {{ v.tech }}
                            {% endfor %}
                    {% endif %} 
                </div><!--version details -->
                <div class="col-sm-6 blog-posts">   
                    {% assign posts = site.posts | where: "project", item.name %}
                    {% for p in posts %}
                        {% if forloop.first == true and forloop.length > 0 %}
                            <h3>Related Posts:</h3>
                        {% endif %}
                            <li><a href="{{ p.permalink }}">{{ p.title}}</a></li>
                    {% endfor %}    
                </div><!--blog posts -->

            </div><!-- project details -->
        </div><!--row-->
    </div><!--wrapper-->

    {% endfor %}

</div>


