<body class="{% if page.category %}category-{{ page.category }}{% else if page.id %}{{ page.id }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}">

    <nav class="navbar navbar-inverse navbar-fixed-top hamwater">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.data.global.title }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for item in site.data.nav.general_nav %}
                        {% if item.text != page.title %}
                            <li>
                                <a href="{{ item.url }}">{{ item.text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>