<div class="post-title"> 

        <div class="topper">
            <div class="post-details">
                    <aside class="date"><span>
                        {{ page.date | date: "%m.%d.%y" }}
                    </span></aside>

                    <h1 class="special"><span class="title">
                        {% if include.ptitle %} 
                            {{ include.ptitle }}   
                        {% elsif page.title %}
                            {{ page.title }}
                        {% else %}
                            {{ site.data.global.title }}
                        {% endif %}
                    </span></h1>

                    {% if page.source %}
                        <aside class="source"><span>
                            <a href="{{page.source}}">(see on Github)</a>
                        </span></aside>
                    {% endif %}

                    {% if page.tech %}
                        <aside class="tech"><span>Tech:
                            {% for item in page.tech %}
                                {{ item }}
                            {% endfor %}
                        </span></aside>
                    {% else %}
                        <aside class="tech"><span>Tags:
                            {% for item in page.tags %}
                                {{ item }}
                            {% endfor %}
                    {% endif %}

            </div>
        </div>
</div>