<main>
  {% include linkedin-badge.html %}
   {% for item in site.data.resume.general %}
  <div>  
    <h1>{{ item.name }}</h1>
    {% for c_hash in item.contact %}
      <h4>
        {% for c in c_hash %}
          <a href="{{ c[1] }}">{{ c[0] }}</a>
            {% if forloop.last != true %}
              |
            {% endif %}
        {% endfor %}
      </h4>
    {% endfor %}
  </div>

  <div>
    <h2>Technical Skills</h2>
    {% for s_hash in item.technical_skills %}
      {% for skills in s_hash %}
        <h4>{{ skills[0] | capitalize }}</h4> 
        {% assign s = skills[1] | split: ', ' %}
        {% for skill in s %}
          <li>{{ skill }}</li>
        {% endfor %}
      {% endfor %}  
    {% endfor %}
  </div>

  <div>
    <h2>Techical Experience</h2>
    <p><a href="/code">(see more examples on my code portfolio page)</a></p>
    {% for project in item.technical_experience.projects %}
      <h4>{{project.title}}</h4>
      {% assign p = project.description | split: ', ' %}
      {% for project in p %}
        <li>{{project}}</li>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="jobs">
    <h2>Employment History</h2>
    <p><a href="/about">(get more of the story on the About page)</a></p>
    {% for job in item.employment_history %}
      <h4>{{job.title}}, {{job.company}} | <span class="dates">{{ job.dates }}</span></h4>
      {% assign tasks = job.description | split: '. ' %}
      {% for t in tasks %}
        <li>{{ t }}</li>
      {% endfor %}
    {% endfor %}

  </div>

  <div class= "education">
    <h2>Education</h2>
    {% for school in item.education %}
      <h4>{{ school.name }}</h4>
      <h5>{{ school.major }}</h5>
      <h5>{{ school.dates }}</h5>
    {% endfor %}
  </div>
   {% endfor %}

   <h1>DOWNLOAD RESUME HERE</h1>

</main>