<div class="container-fluid">
    <div class="tile row">
        <div class="col-sm-12 col-md-6">

            {% if post.featured_image or post.featured_video_id %}
                <a href="{{ post.url | prepend: site.baseurl }}" class="featurette">
                    {% if post.featured_image %}
                    <span class="img" style="background-image: url('{{ post.featured_image }}');"></span>
                    {% endif %}

                    {% if post.featured_video_id %}
                    <iframe src="https://www.youtube.com/embed/{{ post.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                </a>
            {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}" class="featurette"><span class="featurette img" style="background-image: url('{{ site.baseurl }}/assets/default.jpg');"></span></a>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">    
            <div class="inner-guts">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <aside>
                    {{ post.date | date: "%m.%d.%y" }}
                    {% if post.tags != empty %}
                        &middot;
                        {% for tag in post.tags %}
                            <span>{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                </aside>
                <div class="excerpt">
                    {% if post.lead_text %}
                        {{ post.lead_text }}
                    {% else %}
                        {{ post.excerpt }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="btn-group-sm">
            <a href="{{ post.url | prepend: site.baseurl }}" class="read-more btn btn-info">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>