<div class="title-group"> 
    {% if include.ptitle_img != 'nil' %}
        {% if page.featured_image or page.featured_video_id %}
            <div class="topper">
                {% if page.featured_image %}
                <span class="img" style="background-image: url('{{ page.featured_image }}');">
                {% endif %}

                {% if page.featured_video_id %}
                <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

    <h1 class="special">
        <span><a href="{{include.permalink}}">
        {% if include.ptitle %} 
            {{include.ptitle}}
        {% elsif page.title %}
            {{ page.title }}
        {% else %}
            {{ site.data.global.title }}
        {% endif %}
        </a></span>
    </h1>
    
    {% if page.id %}
    <p class="lead">
        {% if include.ptext %}
            {{ include.ptext }}
        {% elsif page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% endif %}
    </p>
    <aside>
        {{ page.date | date: "%m.%d.%y" }}

        {% if page.categories != empty %}
            &middot;
            {% for category in page.categories %}
                <span>{{ category }}</span>
            {% endfor %} 

        {% endif %}
    </aside>
    {% endif %}

</div>