body.code {

  background: white; 

  .title-group {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;

    .topper {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw;
    }

    .topper::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      background: black;
      opacity: .5;
    }

    .title-text {
      position: relative;
      top: 33vh;
      background: black;

    }

    .nav-arrow {
      position: absolute;
      left: 0;
      right: 0;
      color: $hamwater-title;
      font-size: 75px;
      bottom: 0;


      i:hover {
        color: $hamwater-default-hover;
      }
    }
  }
}

body.code nav.navbar {
  display: none;
}

.code main {
  background-color: black;
}

.wrapper {
  height: 100vh;
  display: inline-block;
}

.code-portfolio {

  .row {
    height: 75%;
  }

  .column {
    margin-top: 10vh;
  }

  .project-nav {
    
  }

  .project-details {
    color: $hamwater-title;

    .version-details {
      text-align: center;

      .stack-title {
        padding: 0px 5px;
      }

      .tech-list {

      }
    }
    

    h2 { 
      margin-top: 0px;
      text-transform: uppercase;
    }

    h3 {
      text-align: center;
    }

    h4 {
      color: $hamwater-navtext;
    }

    p {
      line-height: .85em;
      padding: 0;
      margin: 10px 0;
      word-wrap: normal;
    }

    
    i {
      font-size: 16px;
      color: $hamwater-navtext;
      border-radius: 14%;
      background: $hamwater-page-background;
      height: .65em;
      width: .73em;
      line-height: .72em;

      &:hover {
        color: $hamwater-title;
      }

    }



    .tech-list {
      display: none;
    }
  }

  .project-scroll {
    text-align: center;
    font-size: 75px;

    &:hover {
      color: $hamwater-default-hover;
    }

    &::after {
      clear: both;
    }
  }



}