body.code {
  background: white;

  nav.navbar {
    background: white;

    li:hover {
      background: $hamwater-title;
      transition: slow;
    }

    .navbar-brand:hover {
      color: $hamwater-title;
    }

    .icon-bar {
      background: $hamwater-navtext;
    }
  }

  .title-group {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;

    .topper {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw;
    }

    .topper::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      background: black;
      opacity: .5;
    }

    .title-text {
      position: relative;
      top: 33vh;
      background: black;

    }

    .nav-arrow {
      position: absolute;
      left: 0;
      right: 0;
      color: $hamwater-title;
      font-size: 75px;
      bottom: 0;


      i:hover {
        color: $hamwater-default-hover;
      }
    }
  }
}

body.code nav.navbar {
  display: none;
}

.code main {
  background-color: black;
}

.wrapper {
  height: 50vh;
  display: block;
}

.code-portfolio {
  background: white; 
  padding-bottom: 50px;

  .row {
    height: 75%;
  }

  .column {
    margin-top: 10vh;
  }

  .project-nav {
    padding-right: 25px;  
  }

  .project-details {
    color: $hamwater-title;

    .version-details {

      .stack-title {
        text-align: center;
        padding: 0px 5px;

        h4 {
          margin-top: 0;
        }
      }

      .tech-list {

      }
    }
    

    h2 { 
      margin-top: 0;
      text-transform: uppercase;
    }

    h4 {
      color: $hamwater-navtext;
    }

    p {
      line-height: .85em;
      padding: 0;
      margin: 10px 0;
      word-wrap: normal;
    }

    
    i {
      font-size: 16px;
      color: $hamwater-title;
      border-radius: 21%;
      background: white;
      height: .75em;
      width: .73em;
      line-height: 1em;

      &:hover {
        color: $hamwater-title;
      }

    }



    .tech-list {
      display: none;
    }
  }

  .project-scroll {
    text-align: center;
    font-size: 75px;

    &:hover {
      color: $hamwater-default-hover;
    }

    &::after {
      clear: both;
    }
  }



}

.blog-posts {
  margin-top: 5px;
  display: inline-block;
  
  h3 {
    margin-top: 0px;
  }
}

.rule-line {
  clear: both;
  float: none;
  width: 100%;
  margin: 1.4em 0;
  border: none;
  height: .5px;
  background: $hamwater-title;
  background-image: linear-gradient(to right, white, $hamwater-title, white);
}