@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }

}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special {
      font-size: 4.3em;
      line-height: 1em;
    }

    .topper .post-details h1.special {
      font-size: 3em;
    }


    .tile {
      .inner-guts {
        padding: 15px 25px;
        margin: -15px 0 -15px 0;
        
        h2 {
          font-size: 4.2em;
          line-height: 1em;
        }
      }

      .read-more {
          bottom: 15px;
      }
    }


    .tile .excerpt {
        font-size: 22px;
        line-height: normal;
    }


    .post {
        font-size: 18px;
    }

    .landing-nav div {
        display: block;

    }

    .category-blog .title-group p.lead {
        margin-top: -15px;
    }

}

/* ipad */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape){

        .site-footer{
            margin-top: 100px;
        }
    }

@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait){
        .site-footer{
            margin-top: 350px;
        }
    }

@media only screen
    and (max-width: 320px) {
        h1.special{
            font-size: 55px;
        }
    }

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .container-fluid {
        padding: 0px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
