$body-bg: #000;

$font-family-sans-serif: "News Cycle", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Quattrocento, Cardo, Georgia, serif;
$font-family-base: $font-family-serif;
$hamwater-title: #E34706;
$hamwater-title-hover: #f78c3b;
$hamwater-navtext: #63605f; 
$hamwater-page-background: #383636;
$hamwater-highlight-background: #969696;

$scotch-primary: rgb(255, 69, 69);
$scotch-secondary: #FF7B7B;