

.print {
  float: right;
  margin: 6px 5px;
  font-size: 22px;
  padding: 2px;
  border: .5px solid #adadad;
  border-radius: 4px;

  &:hover {
    background: $hamwater-default-hover;
    
    i {
      color: white;
    }
  }

  i {
    color: $hamwater-navtext;
  }  

}

.mini-nav {
  float: right;
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 0;
  height: 36px;

  button {
    height: 36px;
  }

  li {
    a:hover {
      color: white;
      background: $hamwater-default-hover;
    }
  }

  ul.dropdown-menu {
    top: 111%;
    left: -107px;
  }

  .icon-bar {
    background-color: $hamwater-navtext;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  &.hover {
    background: $hamwater-title;
  }
} 