{% include header.html %}

    {% if site.data.alerts.down %}
        {% include alerts.html %}
    {% else %}
        {% include title-group.html %}
        <main>
            <div class="container">
                        {% for post in site.posts %}
                            {% if post.category == page.id %}
                                {% include tile.html %}
                            {% endif %}
                        {% endfor %}

                        {% include pagination.html %}
            </div>
        </main>
    {% endif %}

{% include footer.html %}