{% include header.html %}

    {% if site.data.alerts.messages %}
        {% include alerts.html %}
    {% else %}
        {% include title-group.html %}
        <main>
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        {% for post in site.posts %}
                            {% if post.category == page.id %}
                                {% include tile.html %}
                            {% endif %}
                        {% endfor %}

                        {% include pagination.html %}
                    </div>
<!--                 {% if page.id == "blog" %}
                    <div class="col-md-3 col-lg-3 col-pull-right contents-sidebar">
                        <h4 class="header">Posts:</h4>
                        {% for post in site.posts %}
                            <p><a href="{{post.url | prepend: site.global.baseurl}}"> {{ post.title }}</a> <p> 
                        {% endfor %}
                    </div>
                {% endif %} -->
                </div>
            </div>
        </main>
    {% endif %}

{% include footer.html %}