{% include header.html %}

    {% include title-group.html %}

    <main>
        <div class="container tile">
            <div class="row">
                <div class="col-md-12">
                    {% for post in site.posts %}
                        {% if post.category == page.id %}
                            {% include tile.html %}
                        {% endif %}
                    {% endfor %}

                    {% include pagination.html %}
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}