{% include header.html %}

    {% if site.data.alerts.messages %}
        {% include alerts.html %}
    {% else %}
        {% include title-group.html %}
        <main>
            <div class="container">
                <div class="row">

                    <div class="col-md-9" role="main">
                        {% for post in site.posts %}
                            {% if post.category == page.id %}
                                {% include tile.html %}
                            {% endif %}
                        {% endfor %}

                        {% include pagination.html %}
                    </div>
                    <div class="col-md-3" role="complementary">
                        <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs">
                            <ul class="sidenav hamwater">
                            <h4>Posts:</h4>
                                {% for post in site.posts | where: "category", {{page.id}} %}
                                    <p><a href="{{ post.url | prepend: site.data.global.baseurl }}">{{post.title}}</a></p>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    {% endif %}

{% include footer.html %}